[Unit]
Description=Polls environment sensors to update the weather database and dashboard JSON
Wants=network-online.target
After=network-online.target

[Service]
Environment=WEATHERLOG_CONFIG_PATH=/etc/weatherlog/lapalma_environment.json
ExecStart=/usr/bin/env python3 -u /usr/bin/update-weather-database
ExecStartPost=/usr/bin/env python3 -u /usr/bin/update-weather-json
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target